
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Catamaran:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prata&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
	--menu-hover:#FE8F01;
	--color-general:#898989;
	--color-titulos:#282d33;
	--color-iconos: #e0e0e0;
	--color-checks:#53c3c9;
}
body{
	font-size: 14px;
}

#services{
	background-color:#f9f9f9;
	
}

#cta {
	background-image: url("../img/using-touchscreen.jpg");
    background-size: cover; 
    background-position: center;
}

header{
	background-color: #FFF;
	padding: 5px 0;
	border-bottom:1px solid #eee;
	margin-bottom:10px;
}
footer{
	background-color: #333333;
	color: #bababa;
	padding: 15px 0;
	text-align: center;
}

